* {
    margin: 4px;
    padding: 0px;
    box-sizing: border-box;
}

.form-register {
    width: 400px;
    background: #052545;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

input {
    width: 100%;
    background: #dfe1e5;
    border: none;
    padding: 10px;
    color: #020202;
    margin: 15px 0px;
    font-size: 16px;
}

label {
    height: 40px;
    text-align: center;
    font-size: 18px;
    /* line-height: 40px; */
}